<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="./dist.min.css" rel="stylesheet">
  </head>
  <body>
        <div class="number-section">
          <span id="numberSection">0</span>
        </div>
        <div class="keyboard-section">
          <button class="btn btn-function-top btn-keyboard btn-function" id="actionClean">
              AC
          </button>
          <button class="btn btn-function-top btn-keyboard btn-function" id="actionPositiveOrNegative">
              ±
          </button>
          <button class="btn btn-function-top btn-keyboard btn-function" id="actionPercent">
              %
          </button>
          <button class="btn btn-keyboard btn-action" id="actionDivision">
              /
          </button>
        </div>
        <div class="keyboard-section">
          <button class="btn btn-keyboard btn-function" id="actionNumberSeven">
              7
          </button>
          <button class="btn btn-keyboard btn-function" id="actionNumberEight">
              8
          </button>
          <button class="btn btn-keyboard btn-function" id="actionNumberNine">
              9
          </button>
          <button class="btn btn-keyboard btn-action" id="actionMultiplication">
              ✕
          </button>
        </div>
        <div class="keyboard-section">
          <button class="btn btn-keyboard btn-function" id="actionNumberFour">
              4
          </button>
          <button class="btn btn-keyboard btn-function" id="actionNumberFive">
              5
          </button>
          <button class="btn btn-keyboard btn-function" id="actionNumberSix">
              6
          </button>
          <button class="btn btn-keyboard btn-action" id="actionSubtraction">
              -
          </button>
        </div>
        <div class="keyboard-section">
          <button class="btn btn-keyboard btn-function" id="actionNumberOne">
              1
          </button>
          <button class="btn btn-keyboard btn-function" id="actionNumberTwo">
              2
          </button>
          <button class="btn btn-keyboard btn-function" id="actionNumberThree">
              3
          </button>
          <button class="btn btn-keyboard btn-action" id="actionAddition">
              +
          </button>
        </div>
        <div class="keyboard-section">
          <button class="btn btn-keyboard btn-function btn-zero">
              0
          </button>
          <button class="btn btn-keyboard btn-function" id="actionDivide">
              ,
          </button>
          <button class="btn btn-keyboard btn-action" id="actionEquals">
              =
          </button>
        </div>
  </body>
</html>